.no_property {
    color: #000;
    padding: 10px 15px;
}
/* Pagination */
.pagination {
    clear:both;
    position:relative;
    font-size:11px; /* Pagination text size */
    line-height:13px;
    float:right; /* Pagination float direction */
}
 
.pagination span, .pagination a {
    display:block;
    float:left;
    margin: 2px 2px 2px 0;
    padding:7px 10px;
    text-decoration:none;
    width:auto;
    color:#fff; /* Pagination text color */
    background: #999; /* Pagination non-active background color */
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -ms-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
 
.pagination a:hover{
    color:#fff;
    background: #3dacee; /* Pagination background on hover */
}
 
.pagination .current{
    padding:7px 10px;
    background: #3dacee; /* Current page background */
    color:#fff;
}
.contct-form {
    color: black;   
}
.footer-section1 ul li a {    
    text-transform: uppercase;
}
#property_map
{
	margin-bottom:30px;
	display:none;
}
.um-cover-overlay ins, .um-profile a, .um-profile a:hover, .um-profile-photo-overlay ins, .um-login a {
    text-decoration: none!important;
    color: #3dacee;
}

.status {
    color: #650e19;    
    float: left;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}
.status img {
    display: inline;    
    width: auto;
}
.request_info_wrap
{
	float:left;
	width:100%;
	padding-bottom:15px;
}
.send-button:focus
{
	color:#fff;
}
.request_info_wrap #myModalLabel
{
	color:black;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.normal_view .modal-dialog, .street_view .modal-dialog { max-width:800px; width:96%; }
.serch-filter .sbHolder {  }
.serch-filter .sbSelector {  height:40px; overflow:hidden; white-space:nowrap; }
.um-profile-edit {display:none;}

/*update 22-11-16*/
.navigation-outer .dropdown .dropdown-toggle { float:right; background-color:#971425; border:1px solid #ad4d59; margin:9px 0 0 0; }
.navigation-outer .dropdown .dropdown-toggle:focus, .navigation-outer .dropdown .dropdown-toggle:hover { background-color:#971425; border-color:#ad4d59; }
.navigation-outer .dropdown .dropdown-menu { left:auto; right:15px; }

.blog-container { float:left; width:100%; margin:40px 0; }
.blog-container header.entry-header { background:none; }
.blog-container .entry-thumbnail { float:left; width:100%;  }
.blog-container .entry-thumbnail img { width:auto; max-width:100%; border:1px solid #ddd; padding:3px; }
.blog-container h1.entry-title { font-size:22px; line-height:30px; color:#000; margin:20px 0 15px 0; float:left; width:100%; }
.blog-container .entry-content { float:left; width:100%; color:#000; font-size:14px; line-height:22px; }
.blog-container .entry-meta { float:left; width:100%; }
.blog-container .entry-content a, .blog-container .entry-meta a { color:#006391; } 
.blog-container .entry-content a:hover, .blog-container .entry-meta a:hover { color:#650e19 }
.blog-container .entry-meta span { margin-right:10px; font-style:italic; }
.blog-container .comments-area { float:left; width:100%; color:#000; margin:30px 0 0 0; padding:20px 0 0 0; border-top:1px solid #ddd; }
.blog-container .comments-area h3.comment-reply-title { font-size:18px; }
.blog-container .comments-area a { color:#006391; }
.blog-container .comments-area a:hover { color:#650e19 }
.blog-container .comments-area p { margin:10px 0 0 0; }
.blog-container .comments-area .comment-form-comment { margin:20px 0 0 0; }
.blog-container .comments-area  label { width:100%; display:inline-block; vertical-align:top; color:#000; font-size:14px; margin-bottom:3px;  }
.blog-container .comments-area .comment-form-comment textarea { width:100%; background:none; border:1px solid #ccc; font-size:14px; line-height:20px; padding:10px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; height:120px; }

.blog-container .comments-area  input[type="text"], .blog-container .comments-area  input[type="email"], .blog-container .comments-area  input[type="url"] { width:100%; background:none; border:1px solid #ccc; font-size:14px; line-height:20px; padding:10px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; height:40px; }
.blog-container .submit { background: #650e19;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-family: 'RobotoBold';
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none;
}
.blog-container .submit:hover {
	background: #971425;
} 
.custom-input .selectize-input{
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #333;
    font-size: 13px;    
    line-height: 20px;
    padding: 10px;
    width: 100%;
}
.selectize-control.multi .selectize-input > div {
    background: #006391 none repeat scroll 0 0 !important;    
    color: #fff !important;   
}
.red {
    color: #650e19 !important;
}
.listing-sidebar-2 .sidebar-box p a
{
	color: #000000;
}
.heat_sources ul
{
	float: left;    
    width: 100%;
}
.heat_sources ul li {
    display: inline-block;
    font-family: "RobotoRegular";
    vertical-align: top;
    width: calc(16.33% - 3px);
}
.listing-content .fileinput span.fileinput-filename, #status {
    color: #000;
}
.attachment {
    color: #000;
    display: inline-block;
    font-family: "RobotoRegular";
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
    vertical-align: top;
    width: calc(33.33% - 3px);
}
.images_head
{
	display:none;
}