@media only screen and (max-width:1159px){
.social-section ul li.call { font-size:20px; }
.navigation-outer .main-nav li a { font-size:12px; padding:10px 11px; }
.register-button a { font-size:12px; margin-top:4px; padding:4px 24px; }
.serch-filter .input-field { width:35%; }
.footer-newsletter label { font-size:18px; }
.footer-section2 .mls-logo { right:-110px; }
.copyright-section { text-align:center; }
.copyright-section ul { width:100%; margin:10px 0 0 0; }
.copyright-section ul li { float:none; display:inline-block; }
.about-detail ul li { width:calc(50% - 3px); }
.agent-form-section { top:10px; }
.detail-style01 li, .detail-style02 li { width:calc(50% - 3px); padding-right:5px; }
.property-location ul { padding-left:20px; margin-bottom:30px; }
.property-location ul li { width:calc(50% - 3px); }
.listing-content label { float:left; width:100%; text-align:left;  }
.listing-content .row.margin-top20 { margin-top:0; }
.listing-content .custom-input, .listing-content .custom-selectbox { margin-bottom:15px; }
.navigation-outer .dropdown .dropdown-toggle { margin-top:4px; }
}
@media only screen and (max-width:990px){
.listing-section .tab-outer ul li a { padding:12px 21px; }
.agent-listing-top .listing-left { padding:20px; }
.listing-left h2 { font-size:18px; margin-bottom:10px; line-height:24px; }
.listing-left p { line-height:20px; }	
.agent-description { padding-left:15px; padding-right:15px; }
.agent-description h2 { font-size:18px;  }
.agent-property {  font-size:14px; margin-top:0; }
.agent-description ul { margin-top:10px; }
	
}
@media only screen and (max-width:991px){
.navigation-outer .main-nav li a {
  font-size: 12px;
  padding: 10px 6px;
}
}
@media only screen and (max-width:979px){
.agent-form-section { position:inherit; left:0; top:15px; float:left; width:100%; max-width:100%; }	
.listing-sidebar .section1 .style02 li .post-image { width:50px; }
.listing-sidebar .section1 .style02 li .post-content { width:calc(100% - 60px); }
.agent-description { min-height:162px; }
}

@media only screen and (max-width:767px){
.list-content-bx h2{padding-top:10px;}
.head-top ul { width:100%; text-align:center; }	
.head-top ul li { float:none; display:inline-block; margin:0 10px; font-size:12px; }
.logo { text-align:center; }
.logo a { display:inline-block; max-width:300px; }
.social-section ul { width:100%; text-align:center; margin:0 0 10px 0; }
.social-section ul li { float:none; display:inline-block; margin:0 7px; }
.social-section ul li.call { font-size:14px; }
.social-section ul li.call i { font-size:14px; height:24px; width:24px; line-height:24px; }
.social-section ul li.social i { font-size:14px; }
.social-section ul li.social a { margin:6px 5px 0; }

.navigation-outer { position:relative; }
.navigation-outer a.toggleMenu { float:left; width:15px; height:15px; background:url(../images/mob-nav.png) top center no-repeat; margin:14px 0; }
.navigation-outer .col-sm-8 { position:inherit; }
.navigation-outer .main-nav { position:absolute; width:100%; left:0; top:43px; z-index:100; background:#650e19; } 
.navigation-outer .main-nav li { float:left; width:100%; }
.serch-filter .sbHolder, .serch-filter .input-field { width:100%; margin:0 0 10px 0; float:left; } 
.serch-filter label { margin-left:0; }
.footer-newsletter { padding:15px 0; }
.footer-section1 p { max-width:100%; }
.footer-section1 .col-sm-4 { margin-bottom:20px; }
.footer-social-section { width:100%; padding:0 15px; }
.footer-section1 h4 { margin-bottom:10px; }
.footer-section2 img {max-width: 200px;height: unset;}
.footer-section2 .mls-logo { right:20px; bottom:-80px; }
.listing-section .view-mode { top:-18px; }
.page-title h1 { font-size:18px; line-height:24px; }
.listing-sidebar.margin-top30, .listing-sidebar.margin-top30 .margin-top30 { margin-top:20px !important; }
.listing-sidebar .section1 .feature-slider { margin-left:-15px; width:calc(100% + 15px); }
.listing-sidebar .section1 .feature-slider li { width:calc(100% - 15px); margin-left:15px; }
.feature-slider .owl-buttons .owl-prev  { margin-left:22px; }
.listing-image { width:100%; height:200px; }
.listing-left { width:100%; margin-top:200px; }
.agent-listing img { width:100%; }
.agent-detail .agent-description ul li { width:100%; margin:10px 0 0 0; }
.agent-detail a.send-button { top:auto; bottom:0; }
.agent-detail { padding-left:20px; }
.agent-detail .agent-description h2 { font-size:22px; line-height:28px; }
.agent-property { font-size:12px; }
.agent-description p { font-size:12px; line-height:18px; }
.agent-detail-section { padding:15px; }
.about-section .col-sm-6.pull-right { margin-top:30px; }
.contact-address { font-size:16px; }
.contact-address p { font-size:16px; line-height:18px; }
.contact-social label { width:90px; }
.contact-social a { font-size:18px; }
.contact-detail h2 { font-size:18px; line-height:24px; }
.agent-detail-icon { top:20px; right:20px; }
.agent-detail-icon ul li a { width:30px; height:30px; }
.agent-detail-icon ul li i {line-height:30px; }
.propert-detail-section .property-name h2, .propert-detail-section .property-price h2 { font-size:22px; }
.propert-detail-section .property-name .for-sale { margin:4px 0 0 15px; }
.propert-detail-section .property-price h2 span { font-size:12px; }
.detail-block1 { padding:15px; }
.block-title { padding-bottom:15px; }
.agent-form-section {  padding:15px; }
.propert-detail-section .property-name, .propert-detail-section .property-price { float:left; width:100%; }


}
@media only screen and (max-width:639px){
.listing-outer .property-listing .listing-thumb { width:100%; }	
.listing-outer .property-listing .listing-content { width:100%; padding:20px 0 0 0; }
.listing-section .sort-outer { float:left; margin:0 0 20px 0; }
.listing-section .view-mode {  top:0; }
.listing-section .tab-outer { width:100%; }
.property_listing { margin-top:0; }
.detail-style01 li, .detail-style02 li { width:100%; padding-right:0; }
}

@media only screen and (max-width:479px){
.footer-newsletter .form-group { background:none; }	
.footer-newsletter .form-group input { width:100%; background:#fff; }
.footer-newsletter .form-group .btn { width:100%; }
.listing-sidebar .section1 .style02 li .post-image { width:60px; }
.listing-sidebar .section1 .style02 li .post-content { width:calc(100% - 70px); }
.listing-outer .property-listing .listing-content .col-xs-6 { width:100%; text-align:left; margin:0 0 10px 0; }
.listing-outer .property-listing .listing-content .prperty-price { text-align:left; margin:20px 0 0 0; } 
.listing-outer .property-listing .listing-content .detail-btn { float:left; margin:10px 0 0; }
.listing-outer .property-listing .listing-content .detail-btn a {  float:left; }
.grid-tab-content ul li { width:calc(100% - 8px); min-height:10px; }
.agent-detail-image { width:100%; }
.agent-detail { width:100%; padding-left:0; margin:10px 0 0 0; }
.about-detail ul li { width:calc(100% - 3px); }
.agent-listing-section .agent-listing .col-sm-4.col-xs-6 { width:100%; }
.agent-listing-section .agent-listing .col-sm-4.col-xs-6 a { display:block; }
.property-location ul li { width:100%; } 

	
}
@media only screen and (max-width:359px){
.head-top ul li { font-size:11px; }
}